.result {
    background-color: $Very-dark-cyan;
    color: $White;
    padding: 30px 20px;
    border-radius: 8px;
    position: relative;

    &__content--tip,
    &__content--total {
        margin-bottom: 10px;
        @include flx(justify-content, space-between);
        align-items: center;
        font-weight: 700;
        @include fontSize(16px);

        .tip__span {
            display: block;
            margin-top: 8px;
            @include fontSize(14px);
            color: $Dark-grayish-cyan43;
        }

        .value {
            background-color: transparent;
            max-width: 100px;
            color: $Strong-cyan;
            padding: 0;
            @include fontSize(30px);
            outline: 0;
            text-align: right;

            @include for-desktop-only{
                @include fontSize(50px);
                max-width: 100%;
            }

            &::before{
                content: '$';
                margin-right: 5px;
            }

            &::placeholder {
                color: $Strong-cyan;
            }
        }

        // /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    }

    .result__btn {
        background-color: rgb(0, 102, 107);
        border: none;
        width: 100%;
        height: 40px;
        border-radius: 5px;
        color: $Very-dark-cyan;
        text-transform: uppercase;
        font-weight: 700;
        @include fontSize(22px);
        cursor: pointer;

        @include for-desktop-only {
            position: absolute;
            width: 80%;
            bottom: 10%;
            left: 10%;
            height: 50px;
        }

        &:hover {
            background-color: $Light-grayish-cyan84;
        }
    }

}